/* reset */
:root {
    --brand-color : #fff;
    --bg-color : #CAB3E2;
    --pc-header-height: 112px;
    /* --mobile-header-height: 112px; */
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

#main-header{
        width: 100%;
        height: 112px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #fff;
}

#main-header .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#main-header h1 {
    padding-left: 10px;
    padding-top: 10px;
}

#main-header nav {
    width: 1000px;
    text-align: center;
}

#main-header nav ul.gnb {
    width: 100%;
}

#main-header nav ul.gnb>li {
    width: 20%;
    float: left;
    position: relative;
}

#main-header nav ul.gnb>li>a {
    width: 100%;
    height: 100%;
    font-size: 24px;
}

#main-header nav ul.gnb>li:hover>a {
    color : #CAB3E2;
}

/* section01 */
#section01-yt{
    height: 982px;
}

/* section02 */
#section02-music{
    height: 982px;
    background: #fcf9eb;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#section02-music h1{
    padding-bottom: 50px;
}

.swiper {
    width: 1320px;
    /* display: flex; */
}

.swiper-slide {
    padding-top: 50px;
}

/* section03 */
#section03-drama{
    width: 100%;
    height: 982px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-tv{
    width: 1200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /* outline: 1px solid red; */
}

.container-drama{
    position: relative;
    padding-top: 100px;
    padding-left: 120px;
}

.img1{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 600px;
    top: 0;
}

.dm{
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
    /* outline: 1px solid red; */
}

.dm1{
    width:50%;
    font-weight: 600;
    font-size: 20px;
    padding-top: 45px;
    /* outline: 1px solid red; */
}

.swiper2 {
    width: 348px;
    height: 495px;
    /* outline: 1px solid red; */
}

.swiper-slide {
    padding: 0;
    margin: 0;
}

/* section04 */
#section04-performance{
    height: 982px;
    background: #FFF1DD;
}

.performance-container {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

#section04-performance .performance-header{
    font-size: 18px;
    width: 100%;  
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#section04-performance img{
    width: 100%;
}

#section04-performance .col .pf {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    padding-top: 10px;
}

#section04-performance .col p {
    padding-top: 20px;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

/* footer */
footer {
    width: 100%;
    height: 148px;
    background: #fff;
    padding-top: 20px;
}

.icon-box{
    text-align: center;
    padding-left: 16px;
    font-size: 28px;
}

.icon-box i{
    color: black;
}

.footer-container p{
    text-align: center;
    font-size: 22px;
}